pandas==3.0.0
numpy==2.4.2
requests==2.32.3
beautifulsoup4==4.12.3
seaborn==0.13.2
chardet==5.2.0
openai==2.25.0
qdrant-client==1.17.0
fastapi==0.135.3
uvicorn==0.43.0
python-dotenv==1.1.0
psycopg2-binary